src/ext/SettingsEngineExtension/wixext/Xsd/cfg.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
          xmlns:xse="http://wixtoolset.org/schemas/XmlSchemaExtension"
         xmlns:html="http://www.w3.org/1999/xhtml"
    targetNamespace="http://wixtoolset.org/schemas/v4/wxs/settingsengine"
              xmlns="http://wixtoolset.org/schemas/v4/wxs/settingsengine">
    <xs:annotation>
        <xs:documentation>
            The source code schema for the WiX Toolset Settings Engine Extension.
        </xs:documentation>
    </xs:annotation>

    <xs:import namespace="http://schemas.microsoft.com/wix/2006/wi" />

    <xs:element name="Product">
        <xs:annotation>
            <xs:documentation>
                Registers a product with the Cfg Engine in the global database
            </xs:documentation>
            <xs:appinfo>
                <xse:parent namespace="http://schemas.microsoft.com/wix/2006/wi" ref="Fragment" />
                <xse:parent namespace="http://schemas.microsoft.com/wix/2006/wi" ref="Product" />
                <xse:parent namespace="http://schemas.microsoft.com/wix/2006/wi" ref="Module" />
            </xs:appinfo>
        </xs:annotation>

        <xs:complexType>
            <xs:attribute name="Name" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Name of the product.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="Version" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Version of the product.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="PublicKey" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Public Key of the product.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="Feature" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Feature to associate the autogenerated component with.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
